.App {
  text-align: center;
}
button 
{
  background-color: greenyellow;
  border-radius: 4px; 
  padding: 5px;
  
}

.input{
  width: 15%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  margin-left: 5px
}

.label{
  margin-left: 10px;
}

h1{
  margin-left: 10px;
}