
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
}
button{
  border-radius: 4px; 
  padding: 5px;
}
.buttonClass 
{
 display: block;
 text-align: right;
 
}

input{
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  margin-left: 5px
}
input:focus{
  background-color: lightgray;
  
}

.label{
  margin-left: 10px;
}

h1{
  margin-left: 10px;
  color: white;
}