.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family:'Work Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/public/Ada.png');
  background-size: cover;
  background-position: right center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
